/texts.txt/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
/staticfiles/
.mypy_cache
.env
/note_app/__pycache__/
/notes/__pycache__/
/notes/middleware/__pycache__/
/notes/migrations/__pycache__/
/notes/serializers/__pycache__/
/notes/tasks/__pycache__/
/notes/viewsets/__pycache__/
/notes/websockets/__pycache__/
/notes/practical.py

